:root {
    --black: black;
    --white: white;
    --gradient: linear-gradient(80deg, rgb(14, 193, 94) 8%, rgb(244, 247, 245) 50%, rgb(156, 227, 178) 81%);
    --background: rgb(255, 255, 255);
    --button: lime;
    --secondbackgroundcolor: rgb(238, 241, 240);
    --secondnavigation: darkblue;
}

/* "darkmode colors" */



@media (prefers-color-scheme: dark) {
    :root {
        --black: white;
        --white: black;
        --gradient: linear-gradient(80deg, rgb(193, 14, 107) 8%, rgb(20, 0, 7) 50%, rgb(189, 4, 84) 81%);
        --background: rgb(255, 255, 255, 0.107);
        --button: hotpink;
        --secondbackgroundcolor: rgb(1, 1, 1);
        --secondnavigation: cyan;
    }
}





/* body, main en footer style  */

body {
    background: var(--background);
    background: var(--gradient);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}


.container {
    /* max-width: 375px;
    margin: 0 auto;
    height: 100vh;
    overflow-y: scroll; */
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
    flex-wrap: wrap;
}

header {
    display: flex;
    background-color: var(--white);
}




/* images selectie */


/* content voor de header  */

header img:nth-of-type(1) {
    width: auto;
    height: 30px;
    margin: 2px;
    position: relative;
    top: 15px;
    cursor: pointer;
    left: 10px;

}

/* @media screen and (min-width: 246px) {
    header img:nth-of-type(1) {
        width: auto;
        height: 25px;
        margin: 2px;
        position: relative;
        top: 15px;
        cursor: pointer;
        left: 10px;
    }
}

@media screen and (min-width: 1077px) {
    header img:nth-of-type(1) {
        width: auto;
        height: 40px;
        margin: 2px;
        position: relative;
        top: 15px;
        cursor: pointer;
        left: 10px;
    }
} */




header img:nth-of-type(2) {
    background-color: var(--button);
    width: auto;
    height: 25px;
    margin: 15px;
    padding: 2px;
    position: relative;
    top: 2px;
    left: 1em;
}

header img:nth-of-type(3) {
    width: 70px;
    height: auto;
    margin: 1px;
    padding: 1em;
    position: relative;
    bottom: 2em;
    right: 3px;
}




main section:nth-of-type(2) article {
    background-color: var(--white);
    width: 100%;
    max-height: 300px;  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

main section:nth-of-type(2) img {
    width: 100%;
    height: auto;
    object-fit: cover;  
}

main section:nth-of-type(3) img {
    padding: 1px;
    width: auto;
    height: 100px;
    margin: 20px;
    background-color: blue;
    position: relative;
    right: 20px;
    
}




/* nav en list  */


ul,
li {
    list-style: none;
}




nav ul {
    color: var(--button);
    display: flex;
    gap: 13px;
    font-size: 17px;
    position: relative;
    top: 4em;
    font-style: italic;
    padding: 5px;
    right: 314px;
    width: 100%;

}

nav li {
    /* background-color: var(--white); */
    color: var(--black);
}


nav a {

    color: var(--black);
    text-decoration: none;
}



nav a:hover {
    color: var(--button);
}




/* article selectie */


article ul:nth-of-type(2) {
    display: flex;
    background-color: hotpink;
    gap: 1em;
}



button {
    color: white;
    background-color: var(--black);
    border-radius: 45px;
    font-size: 15px;
    width: 100px;
    height: 30px;
    position: relative;
    top: 290px;
}


button:hover {
    color: var(--black);
    background-color: var(--white);
}

div.scrollbar {
    background-image: url(images/blue.jpg);
    size: cover;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}

div.scrollbar img {
    padding: 10px;
    width: auto;
    height: 200px;
}

/* section ul:nth-of-type(1) {
    display: flex; 
    background-color: var(--secondbackgroundcolor);
    gap: 1em; } */

/* zoeken een flex waar het 3 onder 3 is in plaats van naast elkaar */



section ul:nth-of-type(1) img {
    height: 200px;
    width: auto;
    margin: 8px;
    padding: 10px;
}

article:nth-of-type(1) {
    background-color: var(--secondbackgroundcolor);

}

article:nth-of-type(2) {
    display: flex;
    background-color: var(--secondbackgroundcolor);
    gap: 1em;
}


/* nav selecteren */
/*  */
section:nth-of-type(2) a {
    color: var(button);
    position: relative;
    bottom: 6em;
    font-size: 14px;
    left: 22em;
    background-color: var(--white);
    margin: 1px;
}

section:nth-of-type(2) a:active {
    background-color: var(--button);
    color: var(--white);
}

section:nth-of-type(2) nav {
    background-color: var(--white);

}

/* text selecteren  */

h1 {
    display: flex;
    justify-content: center;
    color: var(--black);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    display: flex;
    justify-content: left;
    font-size: 18px;
    gap: 3em;
    color: var(--black);
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

h3 {
    color: var(--black);
}

p {
    font-family: Arial, sans-serif;
    font-size: 1em;
    color: var(--black);
    justify-content: center;
    line-height: 1.4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* responsive trying */




/* video  */

video {
    width: 21em;
    height: auto;

}



/* @media screen and (min-width: 150px) {
    video {
        width: 15em;
        height: 15em;
    }
} */


/* footer selecties  */

footer:nth-of-type(1) article {
    display: flex;
    justify-content: center; 
    background-color: var(--button);
}

footer:nth-of-type(1) article img {
    background-color: var(--button);
    color: var(--white);
    height: auto;
    width: 40px;
    margin: 20px;
}
