:root {
    --black: black;
    --white: white;
    --gradient: linear-gradient(80deg, rgb(14, 193, 94) 8%, rgb(244, 247, 245) 50%, rgb(156, 227, 178) 81%);
    --background: rgb(255, 255, 255);
    --button: lime;
    --secondbackgroundcolor: rgb(238, 241, 240);
    --colortext: rgb(223, 240, 223);
    --tweedepaginacolor: rgb(6, 0, 8);
    --tweedegradient: linear-gradient(80deg, rgb(90, 14, 39) 8%, rgb(255, 145, 0) 45%, rgb(74, 1, 67) 81%);
    --buttonhalloween: orange;
    --navkleur2: rgb(32, 0, 32);
    --highlight: rgb(124, 60, 124);
    --halloweennav: rgb(223, 240, 223);
    --akushi: rgb(0, 0, 41);
    --isui: rgb(3, 158, 255);
}

/*******************************************/
/* "darkmode colors" */
/*******************************************/


@media (prefers-color-scheme: dark) {
    :root {
        --black: white;
        --white: black;
        --gradient: linear-gradient(80deg, rgb(193, 14, 107) 8%, rgb(20, 0, 7) 50%, rgb(189, 4, 84) 81%);
        --background: rgb(255, 255, 255, 0.107);
        --button: hotpink;
        --secondbackgroundcolor: rgb(1, 1, 1);
        --colortext: rgb(240, 223, 231);
    }
}



/*******************************************/
/* body, main en footer style  */
/*******************************************/
html {
    width: 100%;
    max-width: 390px;
    margin: 0 auto;

}

body {
    background: var(--background);
    background: var(--gradient);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}


.container {
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
}



header {
    display: flex;
    background-color: var(--white);
    max-width: 24.4em;
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 0;
}


footer {
    width: 25em;
    height: 100%;
    position: relative;
    right: 2em;
    top: 2em;
}



/* images selectie */
/*******************************************/
/* content voor de header  */
/*******************************************/

header img:nth-of-type(1) {
    width: auto;
    height: 30px;
    position: relative;
    top: 0.5em;
    left: 0.5em;
}



header img:nth-of-type(2) {
    background-color: var(--button);
    width: auto;
    height: 25px;
    padding: 2px;
    position: relative;
    top: 0.5em;
    left: 8em;
}

header img:nth-of-type(3) {
    width: 40px;
    height: auto;
    margin: 1px;
    padding: 1em;
    position: relative;
    margin-bottom: 0;
    left: 8em;
    bottom: 1em;
}

/*******************************************/
/* images van de main met content  */
/*******************************************/

main section:nth-of-type(2) article {
    background-color: var(--white);
    padding: 2.2em;
    position: relative;
    right: 2.1em;
}

main section:nth-of-type(2) article {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;

}

main section:nth-of-type(2) img {
    width: 6.8em;
    height: auto;
    object-fit: cover;
    position: relative;
    right: 1em;
}


/*******************************************/
/* voor de genres */
/*******************************************/

main section:nth-of-type(3) img {
    padding: 1px;
    width: auto;
    height: 7.9em;
    position: relative;
    right: 2em;
}

main section:nth-of-type(4) img {
    position: relative;
    right: 1.9em;
    width: auto;
    height: 19em;
}


/********************/
/* nav en list  */
/********************/



ul,
li {
    list-style: none;

}




nav ul {
    color: var(--button);
    display: flex;
    gap: 13px;
    font-size: 17px;
    position: relative;
    top: 2em;
    font-style: italic;
    right: 16.5em;
    width: 100%;
}



nav a {

    color: var(--black);
    text-decoration: none;
}



nav a:hover {
    color: var(--button);
}



/**********************/
/* button selectie */
/**********************/



button:nth-of-type(1) {
    background-color: var(--white);
    border-radius: 50px;
    font-size: 18px;
    width: auto;
    height: 30px;
    cursor: pointer;
    color: var(--button);
    border: var(--white);
    margin: 2em;
    position: relative;
    right: 2em;
}


button.anders {
    background-color: var(--button);
    color: var(--black);
}


button:nth-of-type(2) {
    background-color: var(--white);
    border-radius: 50px;
    font-size: 16px;
    width: auto;
    height: 30px;
    cursor: pointer;
    color: var(--button);
    border: var(--white);
    position: relative;
    right: 1em;
}


button.ietsanders {
    background-color: var(--button);
    color: var(--black);
}



button:hover {
    background-color: var(--button);
    color: var(--black);
}



/***************************/
/* scroll image div bar  */
/***************************/

div.scrollbar {
    background-image: url(images/blue.jpg);
    size: cover;
    overflow: auto;
    white-space: nowrap;
    padding: 8px;
    width: 24.8em;
    position: relative;
    right: 2em;
}

div.scrollbar img {
    padding: 10px;
    width: auto;
    height: 13em;
}



section ul:nth-of-type(1) img {
    height: 200px;
    width: auto;
    margin: 8px;
    padding: 10px;
}


/**************************************/
/* nav tweede dagen selecteren */
/************************************/

section:nth-of-type(2) a {
    color: var(button);
    position: relative;
    margin-top: 0;
    font-size: 1em;
    left: 13em;
    background-color: var(--white);
    margin: 1px;
    top: 1em;
}

section:nth-of-type(2) a:hover {
    background-color: var(--button);
    color: var(--white);
}




/**********************/
/* text selecteren  */
/*********************/

h1 {
    text-align: center;
    color: var(--black);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* padding: 4em; */
    margin-top: 5em;

}

h2 {
    display: flex;
    justify-content: left;
    font-size: 18px;
    gap: 3em;
    color: var(--black);
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

h3 {
    color: var(--black);
}

p {
    font-family: Arial, sans-serif;
    font-size: 1em;
    color: var(--black);
    line-height: 1.4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/**************************************/
/* /selectie van de volgende tekst */
/*************************************/

main section:nth-of-type(1) h2 {
    color: var(--colortext);
}

main section:nth-of-type(2) h2 {
    color: var(--colortext);
    position: relative;
    top: 4em;
    z-index: 1;
}


main section:nth-of-type(3) h2 {
    color: var(--colortext);
}

main section:nth-of-type(4) h2 {
    color: var(--colortext);
}

main article:nth-of-type(1) p {
    color: var(--black);
    text-align: center;
}



header li:nth-of-type(1) a {
    color: var(--black);
    background-color: var(--button);
    padding: 2px;
}



/****************/
/* video  */
/***************/

video {
    width: 25em;
    height: auto;
    margin: 1em;
    position: relative;
    right: 3em;
}


/********************/
/* footer selecties  */
/*********************/

footer:nth-of-type(1) article {
    display: flex;
    justify-content: center;
    background-color: var(--button);
}

footer:nth-of-type(1) article img {
    background-color: var(--button);
    color: var(--white);
    height: auto;
    width: 1.5em;
    margin: 1em;
}

footer ul:nth-of-type(1) {
    display: flex;
    gap: 0.5em;
    font-size: 0.7em;
    position: relative;
    bottom: 1.5em;
    right: 1.5em;
    margin: 3em;
}

/****************/
/* animaties */
/****************/

/* animatie 1  */

@keyframes PumpkinDraaien {
    0% {
        scale: 1;
    }

    50% {
        scale: 2;
    }

    100% {
        scale: 1;
    }
}

header img:nth-of-type(3):hover {
    animation-name: PumpkinDraaien;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: 5;
}

/* animatie 2 */
@keyframes FadeIn {
    0% {
        opacity: 0;

    }

    100% {
        opacity: 1;

    }
}


video {
    animation-name: FadeIn;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-play-state: running;
}


/* animatie 2 */
@keyframes ChangeColor1 {
    0% {
        background: linear-gradient(to right, rgb(54, 0, 53), rgb(0, 82, 234));

    }

    50% {
        background: linear-gradient(to right, rgb(0, 255, 76), rgb(212, 255, 0));

    }

    100% {

        background: linear-gradient(to right, rgb(255, 85, 0), rgb(128, 0, 0));

    }
}


section li:nth-of-type(5) a {
    animation-name: ChangeColor1;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-play-state: running;
}


/* animatie 3 */
@keyframes colorMain {
    0% {
        color: pink;
    }

    50% {
        color: purple;
    }

    100% {
        color: hotpink;
    }
}

h1 {
    animation-name: colorMain;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-play-state: running;

}

/* animatie 4 */

@keyframes SlideIN {
    0% {
        opacity: 0;

    }

    100% {
        opacity: 1;

    }
}


main section:nth-of-type(2) img {
    animation-name: SlideIN;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-play-state: running;
}


/* animatie 5  */


@keyframes TextSlide {
    from {
        margin-left: 100%;
        width: 200%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}


main p {
    animation-duration: 8s;
    animation-name: TextSlide;
    animation-direction: alternate;
}

/********************************/
/* de tweede pagina alles */
/********************************/

/*****************************/
/* de achtergrond en indeling */
/*****************************/

.second {
    background: var(--tweedepaginacolor);
    background: var(--tweedegradient);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

/*******************************************/
/* header kleuren van de navigatie erbij  */
/*******************************************/

.second header img:nth-of-type(2) {
    background-color: var(--buttonhalloween);
    width: auto;
    height: 25px;
    padding: 2px;
    position: relative;
    top: 0.5em;
    left: 8em;
}

.second header {
    display: flex;
    background-color: var(--navkleur2);
    max-width: 24.4em;
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 0;
}


.second main:nth-of-type(1) li {
    color: var(--buttonhalloween);
    position: relative;
    margin-top: 0;
    font-size: 1em;
    margin: 0.5em;
    right: 2.7em;
}

.second article:nth-of-type(1) ul {
    display: flex;
    background-color: var(--tweedepaginacolor);
    width: 50em;
    height: auto;
    position: relative;
    right: 2em;
}

.second main:nth-of-type(1) li:hover {
    background-color: var(--highlight);
    color: var(--black);
}

.second main li:nth-of-type(6) {
    cursor: pointer;
}

.second main li:nth-of-type(2) {
    background-color: var(--highlight);
    cursor: pointer;
    text-decoration: underline;
}

/**********************************/
/* achtergrond voor de header  */
/********************************/

.second header {
    background-image: url(images/ghostwife.png);

    width: auto;
}

/*************************/
/* footer secondpage  */
/*************************/

.second footer:nth-of-type(1) article {
    display: flex;
    justify-content: center;
    background-color: var(--tweedepaginacolor);
}



.second footer:nth-of-type(1) article img {
    background-color: var(--buttonhalloween);
    color: var(--colortext);
    height: auto;
    width: 1.2em;
    margin: 1em;
    position: relative;
    top: 1em;
    left: 0.2em;
}

.second footer ul:nth-of-type(1) {
    display: flex;
    gap: 0.5em;
    font-size: 0.7em;
    position: relative;
    bottom: 1.5em;
    right: 1.5em;
    margin: 3em;
    color: var(--colortext);
}


.second header li:nth-of-type(1) a {
    background-color: transparent;
    padding: 5px;
}

.second header li:nth-of-type(2) a {
    background-color: var(--buttonhalloween);
    padding: 2px;
}




/***********************************/
/* akushi and isui gif animation */
/***********************************/

.second article:nth-of-type(3) img:nth-of-type(1) {
    width: 10em;
    height: auto;
    position: relative;
    right: 1em;
}

.second article:nth-of-type(3) img:nth-of-type(2) {
    width: 10em;
    height: auto;
    position: absolute;
}


/**********************/
/* kazane and kasai */
/**********************/
.second article:nth-of-type(6) img {
    width: 24.45em;
    height: auto;
    position: relative;
    right: 2em;
}

/*******************/
/* genres page  */
/*******************/

.second article:nth-of-type(2) img:nth-of-type(2) {
    width: 26em;
    height: auto;
    position: relative;
    right: 3em;
    margin: 1em;
    bottom: 2em;
}

/************************/
/* extra others page  */
/***********************/

.second article:nth-of-type(2) img:nth-of-type(1) {
    position: relative;
    width: 25em;
    right: 2em;
    bottom: 1em;
    display: none;
}


/**********************/
/* halloween image  */
/*********************/

.second article:nth-of-type(5) img {
    width: 24.4em;
    height: auto;
    position: relative;
    right: 2em;
}

/*************************/
/* lettertype + video  */
/************************/

.second h2 {
    display: flex;
    justify-content: left;
    font-size: 1.3em;

    color: var(--halloweennav);
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.second h1 {
    color: var(--halloweennav);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/***********************************/
/* nav selecteren voor de header */
/***********************************/

.second header li:nth-of-type(1) a {
    color: var(--halloweennav);
}

.second nav a:hover {
    color: var(--buttonhalloween);
}

.second nav a {
    color: var(--halloweennav);
}

.second video {
    margin: 0;
    height: auto;
    width: 26em;
}

.second h3 {
    display: flex;
    justify-content: left;
    font-size: 1.3em;
    margin: 1em;
    color: var(--halloweennav);
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

/*****************/
/* de buttons  */
/*****************/

.second button:nth-of-type(1) {
    background-color: var(--highlight);
    border-radius: 45px;
    font-size: 15px;
    width: auto;
    height: 50px;
    cursor: pointer;
    color: var(--buttonhalloween);
    border: var(--white);
    margin: 1em;


}


.second button.anders {
    background-color: var(--buttonhalloween);
    color: var(--black);
}




.second button:nth-of-type(2) {
    background-color: var(--highlight);
    border-radius: 45px;
    font-size: 15px;
    width: auto;
    height: 50px;
    cursor: pointer;
    color: var(--buttonhalloween);
    border: var(--highlight);
    margin: 1em;
    position: relative;
    left: 2em;
}


.second button.ietsanders {
    background-color: var(--buttonhalloween);
    color: var(--black);
}



.second button:hover {
    background-color: var(--buttonhalloween);
    color: var(--black);
}


/***********************************/
/* animaties voor de tweede pagina */
/***********************************/

/* animatie 1 */
@keyframes TextColors {
    0% {
        color: hotpink;
    }

    50% {
        color: purple;
    }

    100% {
        color: orange;
    }
}

.second h1 {
    animation-name: TextColors;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}


/* animatie 2 */
@keyframes H30 {
    0% {
        color: red;
    }

    50% {
        color: black;
    }

    100% {
        color: orange;
    }
}

.second h2 {
    animation-name: H30;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

/* animatie 3 */

@keyframes H20 {
    0% {
        color: red;
    }

    50% {
        color: black;
    }

    100% {
        color: orange;
    }
}

.second h3 {
    animation-name: H20;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

/* animatie 4 */


@keyframes FlyAkushi {
    0% {
        opacity: 0;
        transform: translateX(-20%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}


.second article:nth-of-type(3) img:nth-of-type(1) {
    animation-name: FlyAkushi;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-play-state: running;
}


/* animatie 5 */
@keyframes FlyIsui {
    0% {
        opacity: 0;
        transform: translateX(20%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}


.second article:nth-of-type(3) img:nth-of-type(2) {
    animation-name: FlyIsui;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-play-state: running;
}


/* animatie 6 */

@keyframes Halloween {
    0% {

        transform: translateX(50%);
    }

    50% {

        transform: translateX(0%);
    }

    100% {

        transform: translateX(0%);
    }
}


.second article:nth-of-type(5) img {
    animation-name: Halloween;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-play-state: running;
}

/* anmatie 7 */
@keyframes Kasaine {
    0% {

        transform: translateX(-50%);
    }

    50% {

        transform: translateX(0%);
    }

    100% {

        transform: translateX(0%);
    }
}


.second article:nth-of-type(6) img {
    animation-name: Kasaine;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-play-state: running;
}


/* animatie 8 */


@keyframes Lista {
    0% {
        color: white;

    }

    100% {
        color: hotpink;
    }


}

.second main li:nth-of-type(6) {
    animation-name: Lista;
    animation-duration: 1s;
    animation-delay: 15s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}



/******************/
/* bronnenlijst */
/*****************/

/* https://www.w3schools.com/css/css_dropdowns.asp  */
/* https://chat.openai.com/c/94c33977-aa0d-4ffd-bf0e-f2d308fea5be */
/* https://www.quackit.com/css/codes/marquees/create_fly-in_text_in_css.cfm */
/* https://www.tutorialspoint.com/css/css_animation_fade_in_left.htm */
/* https://codepen.io/P1N2O/pen/pyBNzX */
/* /* https://www.youtube.com/watch?v=045j86hondk */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Animations/Using_CSS_animations */